:root {
    --cell-per-row : 10;
}

/* Reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics  */
main{
    background-color: #7FFFD4;
}

/* Utils  */
.container {
    width: 70vw;
    margin: 0 auto;
}

.grid .unclicked{
    cursor: not-allowed;
    color: white;
    background-color: lightblue;

}


/* Grid  */
.grid{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cell{
    width: calc(100%/var(--cell-per-row));
    height: calc(100%/var(--cell-per-row));
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}